name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to EC2
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}          # GitHub Secrets에 저장된 새 IP
          username: ec2-user                 # 아까 터미널에서 확인된 사용자 이름 (ec2-user)
          key: ${{ secrets.SSH_KEY }}        # PEM 키 내용
          port: 22
          source: "./*"                      # 모든 파일과 images 폴더 포함
          target: "/var/www/html"            # 배포될 경로
          strip_components: 1                # 중요! 'aa' 폴더를 제거하고 내용물만 배포
